.stats {
  width: var(--width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
}

.stat {
  display: flex;
  flex-direction: row;
  line-height: 1.5rem;
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  background-color: #fff;
}

.tagPercentage {
  font-weight: bold;
  padding: 0 0.3rem;
}

.tagCount {
  display: none;
  color: var(--textSubColor);
  line-height: 1.5rem;
}

@media (min-width: 900px) {
  .tagCount {
    display: block;
  }
}
