.stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.stat {
  position: relative;
  display: flex;
  flex: 0 0 5rem;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.7rem;
}

.stat-thermometer {
  position: absolute;
  content: '';
  width: 5px;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: var(--separatorColor);
}

@media (min-width: 768px) {
  .stat {
    flex: 0 0 6rem;
    padding-left: 0.8rem;
  }
}

@media (min-width: 926px) {
  .stat {
    flex: 0 0 7rem;
    padding-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .stat {
    flex: 0 0 8rem;
    padding-left: 1.2rem;
  }
}

.tag-percentage {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1;
}

.tag-percentage__superscript {
  position: absolute;
  top: 3px;
  font-size: 0.8rem;
}

.tag-count {
  color: var(--textSubColor);
  line-height: 1.4;
  font-size: 0.7rem;
}

.tag-name {
  margin-top: 0.4rem;
  text-align: center;
  text-transform: lowercase;
  font-size: 0.8rem;
}
