.breadcrumbs {
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
}

.breadcrumb,
.breadcrumb-separator {
  position: relative;
  padding: 0.8rem 0;
  margin: 0 0.75rem;
  line-height: 1;
  color: var(--textSubColor);
  text-decoration: none;
  white-space: nowrap;
  border-bottom: solid 1px transparent;
  transition: color 0.25s;
}

.breadcrumb:first-child {
  margin-left: 0.5rem;
}

.breadcrumb:last-child {
  color: var(--textColor);
  border-bottom: solid 1px var(--textSubColor);
}

.breadcrumb:hover {
  color: var(--textColor);
}

.breadcrumb:not(:first-child)::before,
.breadcrumb-separator::before {
  position: absolute;
  margin-top: 1px;
  left: -0.9rem;
  color: var(--textSubColor);
  content: "/";
}
