@import "../file-header/file-header";
@import "../file-panel/file-panel";

.file-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1rem;
}

.file {
  position: relative;
  display: flex;
  font-size: 1rem;
  align-items: stretch;
  border-radius: 0.4rem;
  border: solid 1px var(--separatorColor);
  box-shadow: 0 0 20px #e8edf0;
  background-color: var(--white);
  padding: 0.5rem 0;
}

.line {
  height: 1.2rem;
  line-height: 1.2;
  overflow: visible;
}

.gutter-line-number {
  flex: 0 0 3.5rem;
}

.gutter-pass-count {
  flex: 0 0 3.5rem;
}

.gutter-code {
  flex: 1;
  overflow: auto;
}

.line-number {
  @extend .line;
  text-align: right;
  padding-right: 0.5rem;
  margin: 0;
}

.line-count {
  @extend .line;
  padding: 0 0.5rem;
  margin: 0;
  text-align: right;
  background-color: #f3f5f9;
}

.line-count--covered {
  @extend .line-count;
  border-right: solid 5px var(--successColor);
}

.line-count--not-covered {
  @extend .line-count;
  border-right: solid 5px var(--failureColor);
}

.line-text {
  @extend .line;
  padding-left: 0.5rem;
  margin: 0;
}

/* ----- Tokens ----- */

.token--comment {
  color: var(--textSubColor);
}

.token--keyword {
  color: #a5185a;
}

.token--string {
  color: #153591;
}

.token--name {
  color: #785ba1;
}

.location--inspected {
  background-color: var(--successSubColor);
}

.location--not-covered {
  background-color: var(--failureSubColor);
}
