.footer {
  margin: 2rem 0 0 1rem;
  width: var(--width);
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  color: var(--textSubColor);
}

.footer-project-link,
.footer-project-link:hover,
.footer-project-link:active {
  color: var(--textSubColor);
}
