@import "../header/header";
@import "../stats/stats";
@import "../command-palette/command-palette";
@import "../filebox/filebox";
@import "../footer/footer";

.report {
  padding-top: 7rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
