.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6.75rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: normal;
  background-color: var(--white);
  padding: 1.5rem 2rem;
  margin-bottom: 0.5rem;
  border-bottom: solid 1px var(--separatorColor);
  box-shadow: 0 0 20px #e8edf0;
  transform: translateZ(0);
  z-index: var(--headerLayer);
}

.header-logo {
  position: relative;
  flex: 0 0 3.75rem;
  height: 3.75rem;
  border-radius: 0.4rem;
  background: #f0db4f;
}

.header-logo::before {
  position: absolute;
  right: 0.4rem;
  bottom: 0.8rem;
  font-size: 0.6rem;
  font-weight: bold;
  color: #323330;
  content: 'ESNEXT';
}

.header-logo::after {
  position: absolute;
  font-size: 0.42rem;
  font-weight: bold;
  right: 0.42rem;
  bottom: 0.45rem;
  color: #323330;
  content: 'COVERAGE';
}

.header-title {
  flex: 1;
  overflow-x: hidden;
  margin-left: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.4rem;
}

.header-stats {
  flex: 1;
}
