.search {
  position: relative;
  width: 100%;
}

/* --- search input --- */

.search__input {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: normal;
  padding: 0.35rem 0 0.25rem;
  box-sizing: border-box !important;
  font-size: 1rem;
  border: 0;
  border-bottom: dashed 1px rgba(153, 153, 153, 0.3);
}

.search__input::placeholder {
  color: #999;
}

.search__input:focus {
  outline: none;
}

/* --- search suggestion list --- */

.search__suggestion-list {
  position: absolute;
  left: 0;
  right: 50%;
  top: calc(100% - 1px);
  display: flex;
  flex-direction: column;
  background: #fff;
  box-sizing: border-box;
  border: solid 1px var(--separatorColor);
  border-top-style: dashed;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
}

.search__suggestion-list--visible {
  @extend .search__suggestion-list;
  display: block;;
}

.search__suggestion-list--hidden {
  @extend .search__suggestion-list;
  display: none;
}

/* --- search suggestion --- */

%search__suggestion,
.search__suggestion {
  display: block;
  width: 100%;
  padding: 0.4rem 0.5rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  border-bottom: solid 1px var(--separatorColor);
  color: var(--textColor);
  text-decoration: none;
}

%search__suggestion:last-child,
.search__suggestion:last-child {
  border-bottom: none;
}

.search__suggestion--selected {
  @extend %search__suggestion;
  background-color: rgba(0, 0, 0, 0.05);
}
