.search {
  position: relative;
  flex: 1;
}

/* --- search input --- */

.search__input {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 0.7rem;
  box-sizing: border-box !important;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.search__input::placeholder {
  padding-right: 1rem;
  text-align: right;
  color: var(--textSubColor);
}

.search__input:focus {
  outline: none;
}

/* --- search suggestion list --- */

.search__suggestion-list {
  position: absolute;
  left: 0;
  width: auto;
  top: 100%;
  display: flex;
  flex-direction: column;
  background: var(--white);
  border: solid 1px var(--separatorColor);
  border-radius: 0 0 0.4rem 0.4rem;
  box-shadow: 0 0 20px #e8edf0;
  clip-path: inset(0, 20px, 20px, 20px);
  z-index: var(--searchSuggestionsLayer);
}

.search__suggestion-list--visible {
  @extend .search__suggestion-list;
  display: block;
}

.search__suggestion-list--hidden {
  @extend .search__suggestion-list;
  display: none;
}

/* --- search suggestion --- */

%search__suggestion,
.search__suggestion {
  display: block;
  width: 100%;
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  border-bottom: solid 1px var(--separatorColor);
  color: var(--textColor);
  text-decoration: none;
}

%search__suggestion:last-child,
.search__suggestion:last-child {
  border-bottom: none;
}

.search__suggestion--selected {
  @extend %search__suggestion;
  background-color: #f3f5f9;
}
