@import "../filelist-header/filelist-header";
@import "../filelist-item/filelist-item";

.filelist-container {
  display: flex;
  flex-direction: column;
  width: var(--width);
  align-items: stretch;
}

.filelist {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: solid 1px var(--separatorColor);
}
