.filelist-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex: 0 1 3rem;
  border-top: solid 1px var(--separatorColor);
  color: var(--textColor);
  text-decoration: none;
  background-color: var(--white);
  transition: background-color var(--transitionDuration);
}

.filelist-item:first-child {
  border-top: none;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.filelist-item:last-child {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.filelist-item:hover {
  background-color: #f3f5f9;
}

%filelist-item__cell {
  font-size: 0.9rem;
  padding: 0 0.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.filelist-item__name {
  @extend %filelist-item__cell;
  flex: 1;
  padding-left: 1rem;
}

.filelist-item__metric {
  @extend %filelist-item__cell;
  display: flex;
  flex: 0 0 6rem;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8rem;
  text-align: left;
  border-left: solid 1px var(--separatorColor);
}

@media (min-width: 926px) {
  .filelist-item__metric {
    flex: 0 0 8rem;
  }
}

@media (min-width: 1024px) {
  .filelist-item__metric {
    flex: 0 0 10rem;
  }
}

@media (min-width: 1280px) {
  .filelist-item__metric {
    flex: 0 0 11rem;
  }
}

.filelist-item__metric--passed {
  @extend .filelist-item__metric;
}

.filelist-item__metric--passed::before {
  content: '';
  margin-right: 0.5rem;
  flex: 0 0 0.875rem;
  height: 0.875rem;
  background-color: var(--successColor);
  border-radius: 100%;
}

.filelist-item__metric--failed {
  @extend .filelist-item__metric;
}

.filelist-item__metric--failed::before {
  content: '';
  margin-right: 0.5rem;
  flex: 0 0 0.875rem;
  height: 0.875rem;
  background-color: var(--failureColor);
  border-radius: 100%;
}

.filelist-item__metric__percentage {
  flex: 1;
}

.filelist-item__metric__counts {
  display: none;
  flex: 1;
  color: var(--textSubColor);
}

@media (min-width: 1024px) {
  .filelist-item__metric__counts {
    display: flex;
  }
}
